<div class = "container">
  <h1> Answer some trivia questions</h1>

  <p>Answer questions of any type. Categories like History, Science, Sports, Music, Entertainment... Difficulty type can be easy, medium, hard</p>

  <table class = "table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Answer</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td> Who was the first person to walk on moon? </td>
              <td> Science </td>
              <td> Easy </td>
              <td><input class="form-control" ng-model="submit"> </td>
          </tr>
          <tr>
              <td> When did battle of waterloo take place? </td>
              <td> History </td>
              <td> Medium </td>
              <td><input class="form-control" ng-model="submit"> </td>
          </tr>
          <tr>    
              <td> Who won the NFL Superbowl most valuable player award in 1986? </td>
              <td> Sports </td>
              <td> Hard </td>
              <td><input class="form-control" ng-model="submit"> </td>
          </tr>
      </tbody>
  </table>
</div>